{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="{% url "index:index" %}">{% trans "Home" %}</a>
			</li>
			<li class="active">{% trans "Clients" %}</li>
		</ul><!-- /.breadcrumb -->
	</div>
   <div class="page-content">
		<div class="page-header">
			<h1>
				{% trans "Client list" %}
			</h1>
		</div><!-- /.page-header -->
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="row">
					<div class="col-xs-12">
						<div class="clearfix">
							<div class="pull-right tableTools-container"></div>
						</div>
						<div class="table-header">
							{% trans "Results for Client listing" %}
						</div>

						<!-- div.table-responsive -->

						<!-- div.dataTables_borderWrap -->
						<div>
							<table id="dynamic-table" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="center">
											<label class="pos-rel">
												<input type="checkbox" class="ace" />
												<span class="lbl"></span>
											</label>
										</th>
										<th>{% trans "Name" %}</th>
										<th class="hidden-480"> <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i> {% trans "VAT" %}</th>
										<th class="hidden-480">{% trans "City" %}</th>
										<th>{% trans "Country" %}</th>
										<th>{% trans "Email" %}</th>
										<th class="hidden-480">{% trans "Website" %}</th>
										<th>{% trans "Is Visible?" %}</th>
										<th></th>
									</tr>
								</thead>

								<tbody>

									{% for client in object_list %}
										<tr>
											<td class="center">
												<label class="pos-rel">
													<input type="checkbox" class="ace" />
													<span class="lbl"></span>
												</label>
											</td>

											<td><a href="#">{{client.name}}</a></td>
											<td class="hidden-480">{{client.vat}}</td>
											<td class="hidden-480">{{client.city}}</td>
											<td>{{client.country}}</td>
											<td>{{client.email}}</td>
											<td class="hidden-480">{{client.website}}</td>
											<td>{{client.is_visible}}</td>
											<td>
												<div class="hidden-sm hidden-xs action-buttons">
													<a class="blue" href="{% url 'client:view' pk=client.id %}">
														<i class="ace-icon fa fa-eye bigger-130"></i>
													</a>

													<a class="green" href="{% url 'client:edit' pk=client.id %}">
														<i class="ace-icon fa fa-pencil bigger-130"></i>
													</a>

													<a class="delete red" href="{% url 'client:delete' pk=client.id %}" title="delete client" data-tooltip>
														<i class="ace-icon fa fa-trash-o bigger-130"></i>
													</a>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
{% endblock %}

{% block bottom %}
	{% include "client/client_index_bottom_js.html" %}
{% endblock %}