{% load staticfiles compress %}

{% compress js %}
<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src='{% static "core/js/excanvas.min.js" %}'></script>
<![endif]-->
<script src='{% static "core/js/jquery-ui.custom.min.js" %}'></script>
<script src='{% static "core/js/jquery.ui.touch-punch.min.js" %}'></script>
<script src='{% static "core/js/jquery.easypiechart.min.js" %}'></script>
<script src='{% static "core/js/jquery.sparkline.index.min.js" %}'></script>
<script src='{% static "core/js/summernote.min.js" %}'></script>
<script src='{% static "core/js/jquery.flot.min.js" %}'></script>
<script src='{% static "core/js/jquery.flot.pie.min.js" %}'></script>
<script src='{% static "core/js/jquery.flot.resize.min.js" %}'></script>
<script src='{% static "core/js/timecircles.js" %}'></script>

<!-- ace scripts -->
<script src='{% static "core/js/ace-elements.min.js" %}'></script>
<script src='{% static "core/js//ace.min.js" %}'></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function getFormattedDateTime(date) {
      var year = date.getFullYear();

      var month = (1 + date.getMonth()).toString();
      month = month.length > 1 ? month : '0' + month;

      var day = date.getDate().toString();
      day = day.length > 1 ? day : '0' + day;

      var hour = date.getHours().toString();
      hour = hour.length > 1 ? hour : '0' + hour;

      var minutes = date.getMinutes().toString();
      minutes = minutes.length > 1 ? minutes : '0' + minutes;

      return year + '/' + month + '/' + day + ' ' + hour + ':' + minutes;
    }

    jQuery(function ($) {
        $('.easy-pie-chart.percentage').each(function () {
            var $box = $(this).closest('.infobox');
            var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
            var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
            var size = parseInt($(this).data('size')) || 50;
            $(this).easyPieChart({
                barColor: barColor,
                trackColor: trackColor,
                scaleColor: false,
                lineCap: 'butt',
                lineWidth: parseInt(size / 10),
                animate: ace.vars['old_ie'] ? false : 1000,
                size: size
            });
        });

        var entriesperclient    = $('#entriesperclient').css({'width': '90%', 'min-height': '150px'});
        var entriespertask      = $('#entriespertask').css({'width': '90%', 'min-height': '150px'});
        var entriesperproject   = $('#entriesperproject').css({'width': '90%', 'min-height': '150px'});

        var dataentriesperclient = [
            {% for entry in totals.user_per_client_entries %}
                {label: "{{entry.client__name}}", data: "{{entry.client__count}}"},
            {% endfor %}
        ];

        var dataentriespertask = [
            {% for entry in totals.user_per_task_entries %}
                {label: "{{entry.client__name}}", data: "{{entry.client__count}}"},
            {% endfor %}
        ];

        var dataentriesperproject = [
            {% for entry in totals.user_per_project_entries %}
                {label: "{{entry.client__name}}", data: "{{entry.client__count}}"},
            {% endfor %}
        ];

        function drawPieChart(placeholder, data, position) {
            $.plot(placeholder, data, {
                series: {
                    pie: {
                        show: true,
                        innerRadius: 0.5,
                        highlight: {
                            opacity: 0.25
                        },
                        stroke: {
                            color: '#fff',
                            width: 2
                        },
                        startAngle: 2
                    }
                },
                legend: {
                    show: true,
                    position: position || "ne",
                    labelBoxBorderColor: null,
                    margin: [-30, 15]
                }
                ,
                grid: {
                    hoverable: true,
                    clickable: true
                }
            })
        }

        drawPieChart(entriesperclient, dataentriesperclient);
        drawPieChart(entriespertask, dataentriespertask);
        drawPieChart(entriesperproject, dataentriesperproject);

        //pie chart tooltip example
        var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
        var previousPoint = null;

        entriesperclient.on('plothover', function (event, pos, item) {
            if (item) {
                if (previousPoint != item.seriesIndex) {
                    previousPoint = item.seriesIndex;
                    var tip = item.series['label'] + " : " + item.series['percent'] + '%';
                    $tooltip.show().children(0).text(tip);
                }
                $tooltip.css({top: pos.pageY + 10, left: pos.pageX + 10});
            } else {
                $tooltip.hide();
                previousPoint = null;
            }

        });

        $('#recent-box [data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('.tab-content');
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }


        $('.dialogs,.comments').ace_scroll({
            size: 300
        });


        //Android's default browser somehow is confused when tapping on label which will lead to dragging the task
        //so disable dragging when clicking on label
        var agent = navigator.userAgent.toLowerCase();
        if (ace.vars['touch'] && ace.vars['android']) {
            $('#tasks').on('touchstart', function (e) {
                var li = $(e.target).closest('#tasks li');
                if (li.length == 0)return;
                var label = li.find('label.inline').get(0);
                if (label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation();
            });
        }

        $('#tasks').sortable({
                opacity: 0.8,
                revert: true,
                forceHelperSize: true,
                placeholder: 'draggable-placeholder',
                forcePlaceholderSize: true,
                tolerance: 'pointer',
                stop: function (event, ui) {
                    //just for Chrome!!!! so that dropdowns on items don't appear below other items after being moved
                    $(ui.item).css('z-index', 'auto');
                }
            }
        );
        $('#tasks').disableSelection();
        $('#tasks input:checkbox').removeAttr('checked').on('click', function () {
            if (this.checked) $(this).closest('li').addClass('selected');
            else $(this).closest('li').removeClass('selected');
        });


        //show the dropdowns on top or bottom depending on window height and menu position
        $('#task-tab .dropdown-hover').on('mouseenter', function (e) {
            var offset = $(this).offset();

            var $w = $(window);
            if (offset.top > $w.scrollTop() + $w.innerHeight() - 100)
                $(this).addClass('dropup');
            else $(this).removeClass('dropup');
        });

        //Time circles
        $("#timer").TimeCircles({start: false});

        $("#start_timer").on('click', function(){

            var starttime = getFormattedDateTime(new Date($.now()));

            $("#id_starttime").val(starttime);
            $("#timer").TimeCircles().start();
            $('#start_timer').prop('disabled', true);
            $('#reset_timer').prop('disabled', true);
            $('#stop_timer').prop('disabled', false);
            $('#id_task').prop('disabled', true);
            $('#id_project').prop('disabled', true);
            $('#id_client').prop('disabled', true);
        });

        $("#stop_timer").on('click', function(){
            $("#timer").TimeCircles().stop();

            var starttime = new Date($("#id_starttime").val());
            var endtime = getFormattedDateTime(new Date(starttime.getTime() + $("#timer").TimeCircles().getTime()*-1000));

            $("#id_endtime").val(endtime);
            $('#stop_timer').prop('disabled', true);
            $('#submit_timer').prop('disabled', false);
            $('#reset_timer').prop('disabled', false);
        });

        $("#reset_timer").on('click', function(){
            $("#timer").TimeCircles().destroy();
            $("#timer").TimeCircles({start: false});
            $("#id_starttime").val('');
            $("#id_endtime").val('');
            $('#id_task').prop('disabled', false);
            $('#id_project').prop('disabled', false);
            $('#id_client').prop('disabled', false);
            $('#stop_timer').prop('disabled', true);
            $('#submit_timer').prop('disabled', true);
            $('#start_timer').prop('disabled', false);
        });

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        $('#timer_form').submit(function() {
            $.ajax({
                data:{
                    'task':$('#id_task').val(),
                    'client':$('#id_client').val(),
                    'project':$('#id_project').val(),
                    'description':$('#id_description').val(),
                    'starttime':$('#id_starttime').val(),
                    'endtime':$('#id_endtime').val(),

                },
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                success: function(response) {
                    console.log("Success");
                }
            });
            return false;
        });

        // Summernote
        //$('textarea').summernote({
            //minHeight:200,
        //});

    })
</script>
{% endcompress %}