{% load i18n %}

<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
    </script>

    <!--<div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-floppy-o"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cog"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="{{ dashboard_active }}">
            <a href="{% url 'index:index' %}">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> {% trans "Dashboard" %} </span>
            </a>
            <b class="arrow"></b>
        </li>

        <li class="{{ account_active }}">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text"> {% trans "Users" %} </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="{{ account_viewall_active }}">
                    <a href="{% url 'account:index' %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> {% trans "View all" %} </span>
                    </a>
                </li>
                <li class="{{ client_add_active }}">
                    <a href="{% url 'account:add' %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> {% trans "Add user" %} </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="{{ client_active }}">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-building"></i>
                <span class="menu-text"> {% trans "Clients" %} </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="{{ client_viewall_active }}">
                    <a href="{% url 'client:index' %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> {% trans "View all" %} </span>
                    </a>
                </li>
                <li class="{{ client_add_active }}">
                    <a href="{% url 'client:add' %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> {% trans "Add client" %} </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="{{ project_active }}">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-industry"></i>
                <span class="menu-text"> {% trans "Projects" %} </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="{{ project_viewall_active }}">
                    <a href="{% url 'project:index' %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> {% trans "View all" %} </span>
                    </a>
                </li>
                <li class="{{ project_add_active }}">
                    <a href="{% url 'project:add' %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> {% trans "Add project" %} </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="{{ task_active }}">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-tasks"></i>
                <span class="menu-text"> {% trans "Tasks" %} </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>
            <ul class="submenu">
                <li class="{{ task_viewall_active }}">
                    <a href="{% url 'task:index' %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> {% trans "View all" %} </span>
                    </a>
                </li>
                <li class="{{ task_add_active }}">
                    <a href="{% url 'task:add' %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> {% trans "Add task" %} </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="{{ entry_active }}">
            <a href="{% url 'entry:index' %}">
            <i class="menu-icon fa fa-calendar"></i>
            <span class="menu-text"> {% trans "Entries" %} </span>
            </a>

            <b class="arrow"></b>
        </li>

    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>