{% extends "core/base.html" %}
{% load i18n l10n widget_tweaks %}

{% block content %}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{% url 'index:index' %}">{% trans "Home" %}</a>
        </li>
        <li class="active">{% trans "Entries" %}</li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content">
    <div class="page-header">
        <h1>
            {% trans "Entry list" %}
        </h1>
    </div><!-- /.page-header -->
    {% if result %}
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <i class="ace-icon fa fa-check"></i> {{ result }}
                <br>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="widget-box collapsed widget-color-blue">
                            <div class="widget-header widget-header-small">
                                <h4 class="widget-title"><i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp;{% trans "Refine your search" %}</h4>
                                <div class="widget-toolbar" id="search-widget-toolbar">
                                    <a href="#" data-action="collapse">
                                        <i class="ace-icon fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body" id="search-widget-body">
                                <div class="widget-main no-padding">
                                    <form>
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <h4 class="blue smaller">
                                                            <i class="fa fa-calendar orange bigger-110"></i>&nbsp;{% trans "Calendar" %}
                                                        </h4>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="input-daterange input-group">
                                                                    <input type="text" class="form-control" id="start_date" name="start">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-exchange"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control" id="end_date" name="end">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <h4 class="blue smaller">
                                                            <i class="fa fa-pencil-square-o red bigger-110"></i>&nbsp;{% trans "Basic details" %}
                                                        </h4>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <select class="chosen-select form-control" id="id_task" name="task">
                                                                    <option value="" selected="selected">{% trans "Please select a task" %}</option>
                                                                    {% for task in tasks %}
                                                                    <option value="{{task.name}}">{{task.name}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-xs-6">
                                                               <select class="chosen-select form-control" id="id_user" name="user">
                                                                    <option value="" selected="selected">{% trans "Please select a user" %}</option>
                                                                    {% for user in users %}
                                                                    <option value="{{user.username}}">{{user.username}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <h4 class="blue smaller">
                                                            <i class="fa fa-industry purple bigger-110"></i>&nbsp;{% trans "Project details" %}
                                                        </h4>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <select class="chosen-select col-xs-10 col-sm-5" id="id_client" name="client">
                                                                    <option value="" selected="selected">{% trans "Please select a client" %}</option>
                                                                    {% for client in clients %}
                                                                    <option value="{{client.name}}">{{client.name}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <select class="chosen-select form-control" id="id_project" name="project">
                                                                    <option value="" selected="selected">{% trans "Please select a project" %}</option>
                                                                    {% for project in projects %}
                                                                    <option value="{{project.name}}">{{project.name}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <div class="form-actions left no-margin">
                                         <button id="search_update" type="button" class="btn btn-default btn-round btn-white">
                                            <i class="ace-icon fa fa-search green"></i>
                                            {% trans "Search" %}
                                        </button>
                                        <button id="search_reset" type="button" class="btn btn-default btn-round btn-white">
                                            <i class="ace-icon fa fa-remove red2"></i>
                                            {% trans "Reset" %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-10"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div class="table-header">
                        {% trans "Results for Entry listing" %}
                    </div>

                    <!-- div.table-responsive -->

                    <!-- div.dataTables_borderWrap -->
                    <div>
                        <table id="entry-table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace"/>
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>{% trans "ID" %}</th>
                                <th>{% trans "Task" %}</th>
                                <th>{% trans "Description" %}</th>
                                <th class="hidden-480">{% trans "Start time" %}</th>
                                <th class="hidden-480">{% trans "End time" %}</th>
                                <th>{% trans "Duration (min.)" %}</th>
                                <th>{% trans "Cost (EUR)" %}</th>
                                <th>{% trans "User" %}</th>
                                <th>{% trans "Client" %}</th>
                                <th>{% trans "Project" %}</th>
                                <th class="hidden-480">{% trans "Comments" %}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="entry-table-body">

                            {% for entry in object_list %}
                            <tr id="pk-{{entry.id}}">
                                <td class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace"/>
                                        <span class="lbl"></span>
                                    </label>
                                </td>

                                <td><a href="#">{{entry.id}}</a></td>
                                <td>{{entry.task.name}}</td>
                                <td>{{entry.description}}</td>
                                <td class="hidden-480">{{entry.starttime | date:'Y-m-d H:i'}}</td>
                                <td class="hidden-480">{{entry.endtime | date:'Y-m-d H:i'}}</td>
                                <td>{{entry.duration}}</td>
                                <td>{{entry.cost}}</td>
                                <td>{{entry.user.username}}</td>
                                <td>{{entry.client.name}}</td>
                                <td>{{entry.project.name}}</td>
                                <td class="hidden-480">{{entry.comments}}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue" href="{% url 'entry:view' pk=entry.id %}">
                                            <i class="ace-icon fa fa-eye bigger-130"></i>
                                        </a>

                                        <a class="green" href="{% url 'entry:edit' pk=entry.id %}">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="delete red" href="{% url 'entry:delete' pk=entry.id %}"
                                           title="Delete entry information" data-tooltip>
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{% endblock %}

{% block bottom %}
{% include "entry/entry_index_bottom_js.html" %}
{% endblock %}